@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
$fontInter: "Inter", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontMonte: "Montserrat", sans-serif;
$mainColor: #fff;
$secondaryColar: #000;
.container {
  max-width: 345px;
  margin: 0 auto;
}
