.product-description {
  padding: 12px 0;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .description__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .description__scroll {
    margin-bottom: 20px;
    .text {
      color: rgb(255, 64, 83);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 6px;
    }
    .scroll-track {
      width: 100%;
      height: 8px;
      background-color: rgb(235, 234, 232);
      border-radius: 90px;
      position: relative;
    }
    .scroll-thumb {
      position: absolute;
      top: 0;

      width: 111.29px;
      height: 8px;
      border-radius: 90px;
      background: rgb(255, 64, 83);
    }
  }
  .description__timer {
    width: 100%;
    border-radius: 1000px;
    background: rgb(245, 245, 246);
    padding: 4px 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    .timer-text {
      font-size: 16px;
      font-weight: 400;
    }
    .timer-time {
      color: rgb(177, 95, 255);
      font-weight: 600;
    }
  }
}
