.product-ad {
  background-color: #000;
  text-align: center;
  padding: 32px 0;
  margin-bottom: 24px;
  .product-title {
    font-family: $fontPoppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    background: linear-gradient(to right, #aeaeae, #fcfcfc);
    color: transparent; // Used to create the gradient effect
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 16px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .image {
    margin-bottom: 39px;
  }
  .product-subtitle {
    background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: $fontPoppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
  }
  .reviews-link {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    max-width: 180px;
    margin: 0 auto 16px;
    padding: 0 10px;
  }
  .product-rating,
  .reviews-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fontPoppins;
    font-size: 16px;
    color: $secondaryColar;
    padding: 4px 0;
    .stars {
      display: flex;
      align-items: center;
      svg:nth-child(3) {
        position: relative;
        top: 4px;
      }
      svg:nth-child(2) {
        margin-left: 4px;
      }
      svg:nth-child(4) {
        margin-right: 4px;
      }
    }

    .rating-score {
      font-family: $fontPoppins;
      font-size: 16px;
      color: $secondaryColar;
    }
  }
  .reviews-count {
    justify-content: center;
    column-gap: 10px;
    line-height: 24px;
  }
  .product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 51px;
    .current-price {
      font-family: $fontPoppins;
      font-size: 43.2px;
      font-weight: 700;
      color: $mainColor;
    }

    .original-price {
      font-family: $fontPoppins;
      font-size: 27px;
      font-weight: 500;
      color: $mainColor;
      position: relative;

      .line {
        display: block;
        width: 80%;
        height: 2px;
        background-color: #ff4073;
        position: absolute;
        top: 45%;
        left: 5px;
      }
    }

    .original-price::after {
      content: "";
      display: block;
      width: 63%;
      height: 2px;
      background-color: #ff4073;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: rotate(-4deg);
    }
    .original-price::before {
      content: "";
      display: block;
      width: 63%;
      height: 2px;
      background-color: #ff4073;
      position: absolute;
      top: 64%;
      left: 18px;
      transform: rotate(1deg);
    }
  }
}

.product-advatages {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}
.product-advatages__shiping,
.product-advatages__rating,
.product-advatages__graide {
  border-radius: 4px;
  background: rgb(213, 213, 213);
  padding: 4px 8px;
  height: 36px;
}
.product-advatages__shiping {
  flex-shrink: 1;
}
.product-advatages__shiping img {
  width: 100%;
  height: 100%;
}
.product-advatages__rating {
  flex-basis: 158px;
  .stars {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
    .stars__item {
      padding: 0 2.9px;
      background-color: #00b67a;
    }
  }
}

.text {
  font-family: $fontMonte;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: right;
  white-space: nowrap;
  strong {
    font-weight: 700;
  }
}
.product-advatages__graide {
  font-family: $fontMonte;
  white-space: nowrap;
  strong {
    font-size: 16px;
    font-weight: 700;
  }
  span {
    font-size: 12px;
    font-weight: 600;
  }
  div:last-child {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
  }
}
